.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #c0e9df;
  position: relative;
}

.input input {
  height: 28px;
  padding-left: 8px;
  width: 100%;
}

.input img {
  position: absolute;
  top: 35%;
  right: 0;
  margin: auto auto;
  pointer-events: none;
  padding: 0px 8px;
  transition: transform 0.25s ease;
}

.input img.active {
  transform: rotate(-180deg);
}
