.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 10px;
}

.loading img {
  color: rgba(0, 0, 0, 0.5);
  height: 32px;
  width: 32px;
  animation: animateHanger 1s infinite;
}

.loading span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

@keyframes animateHanger {
  0% {
    transform: rotateZ(30deg);
  }

  50% {
    transform: rotateZ(-30deg);
  }

  100% {
    transform: rotateZ(30deg);
  }
}
