h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.sizes {
  font-size: 40px;
  line-height: 48px;
}

.error {
  font-size: 20px;
  line-height: 28px;
}
